
.header-margin {
    height: 20px;
}
.search-bar {
    width: 60%;
    display: flex;
    margin: auto;
    position: relative;
    left: -50px;
}
.right-menu {
    float: right;
}
.advance-search {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.number-form {
    border-radius: 3px;
    border: 1px solid silver;
    padding: 6px 12px;
    width: 100px;
    font-size: 14px;
}

article {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #fafafa;
}
article img {
    width: 100px;
    display: inline-block;
}
article ul {
    list-style: none;
}
.article-left {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin-left: 10px;
}
.article-right {
    float: right;
    text-align: right;
    /* position: relative; */
}
/* .article-right .disponibilite {
    position: absolute;
    bottom: 0;
    right: 0;
} */
.article-right .disponibilite {
    margin-top: 82px;
}
/* Corrige bootstrap */
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.article-complement {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.codes {
    width: 24%;
}
.codes p {
    margin-top: 15px;
}
.dates {
    width: 24%;
}
.dates label {
    display: block;
    margin-top: 15px;
}
.dates input {
    width: 100%;
}
.commentaires {
    width: 48%;
    margin-top: 15px;
}
.commentaires label {
    display: block;
}
.commentaires textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.confirm {
    float: left;
}
#confirm {
    margin-left: 10px;
}
.button-request {
    float: right;
}