/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 31 mars 2018, 08:26:22
    Author     : mathias
*/
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:500,700');

*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F0F0F0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #3B3B3B;
}
.wrap {
    /*A repasser à 1200px*/
    width: 12000px;
    margin: auto;
}
header {
    background-color: #478EBF;
}
main{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}
