/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 avr. 2018, 09:22:34
    Author     : mathias
*/

#section-prets, #section-emprunts {
    display: flex;
    justify-content: space-between;
}
.statut-serie>h2 {
    margin: 30px 0 10px 0;
}

.statut-serie {
    width: 50%;
    text-align: center;
}
.ficheSerie {
    text-align: left;
}

#aRecuperer .panel-heading{ 
    background-color: #ea9999;
}
#aRendre .panel-heading{ 
    background-color: #ffe599;
}
#empruntees .panel-heading{ 
    background-color: #9fc5f8;
}
#pretees .panel-heading{ 
    background-color: #b6d7a8;
}