body {
  background-color: lightgrey;
}
.container {
  width: 500px;
  height: 400px;
/*  Pour centrer le contenu d'un bloc  on utilise la prop text-align  */
  text-align: center; 
/*  Pour centrer un bloc on doit d'abord préciser le width et utiliser ensuite la prop margin  */
  margin : auto;
  background-color: rgba(68, 75, 84,0.8);
  margin-top: 150px;
  border-radius: 5px;
}
img {
  width: 150px;
  hight:150px;
  border-radius:50%;
  margin-top:-70px;
  margin-bottom: 30px;
}
 input {
  height: 40px;
  width: 300px;
  font-size: 18px;
  font-family: "Lato";
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 35px;
}
.form-input {
  position:relative;
}
.fa-lock, .fa-user {
  position:absolute;
  top: 8px;
  left: 88px;
  color:#3BA8A5;
}

#submit {
  width: 80px;
  height: 40px;
  padding: 5px;
  background-color: #D6D6D6;
  boder-style: none;
  margin-top: 30px;
  margin-bottom: 30px
}
#submit:hover {
  cursor: pointer;
  background-color: #575C56;
  color: white;
}
a {
  color: white;
}